/*_reticula.scss*/

$color-tabla: rgba(196, 227, 243, 0.5);
$color-tabla-hover: rgb(196, 227, 243);

table{
   width: 100%;
   background-color: #FFF;
   border-spacing: 0;
   //border-collapse: collapse;
   border: 1px solid #dddddd;
   border-radius: 4px;
   th {
      border: 1px solid #e6e7e8;
      border-top: none;
      border-right: none;
      vertical-align: middle;
      background-color: #f7f7f8;
      height: 50px;
      &:first-child {
         border-left: none;
      }
   }
   td {
      border: 1px solid #e6e7e8;
      border-top: none;
      border-right: none;
      vertical-align: middle;
      height: 50px;
      text-align: center;
      &:first-child {
         border-left: none;
      }
   }
   &.style tbody tr:nth-child(2n+1) {
      background-color: $color-tabla;
      &:hover {
         background-color: $color-tabla-hover;
      }
   }
   tbody tr {
      &:hover {
         background-color: #F5F5F5;
      }
      &:last-child td {
         border-bottom: none;
      }
   }
}

.dataTables_length, .dataTables_filter {
   display: inline-block;
   width: 50%;
   margin: 0 0 10px 0;
   padding: 0 10px;
}
.dataTables_filter {
   text-align: right;
}
.dataTables_info {
   width: 35%;
   display: inline-block;
}
.dataTables_paginate {
   display: inline;
}
.paginate_button {
   cursor: pointer;
}