/*_reticula.scss*/

$color-tabla: rgba(196, 227, 243, 0.5);
$color-tabla-hover: rgb(196, 227, 243);

table{
   width: 100%;
   background-color: #FFF;
   border-spacing: 0;
   //border-collapse: collapse;
   border: 1px solid #dddddd;
   border-radius: 4px;
   th {
      border: 1px solid #e6e7e8;
      border-top: none;
      border-right: none;
      vertical-align: middle;
      background-color: #f7f7f8;
      height: 50px;
      &:first-child {
         border-left: none;
      }
   }
   td {
      border: 1px solid #e6e7e8;
      border-top: none;
      border-right: none;
      vertical-align: middle;
      height: 50px;
      text-align: center;
      &:first-child {
         border-left: none;
      }
   }
   &.style tbody tr:nth-child(2n+1) {
      background-color: $color-tabla;
      &:hover {
         background-color: $color-tabla-hover;
      }
   }
   tbody tr {
      &:hover {
         background-color: #F5F5F5;
      }
      &:last-child td {
         border-bottom: none;
      }
   }
}


$columnas: 12;
$gutter-width: 1%;
$container: 98%;
/*

.muestra {
   border: 2px solid red;
   padding: 10px;
   height: 50px;
   border-right: none;
   border-bottom: none;
   &:last-child {
      border-right : 2px solid red;
   }
}

.container-2 {
   margin-right: auto;
   margin-left: auto;
   padding: 0 2%;
   max-width: $container;
}

.row {
   display: flex;
   flex: 0 1 auto;
   flex-direction: row;
   flex-wrap: wrap;
   &:last-child .muestra {
      border-bottom: 2px solid red;
   }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
   flex: 0 0 auto;
   padding: 0 $gutter-width;
}
*/
@mixin columns {
   @for $i from 1 through $columnas {
      .col-#{$i} {
         max-width: ($container / $columnas) * $i;
         flex-basis: ($container / $columnas) * $i;
      }
   }
}

//@include columns;
