/*.banner {
   padding-top: 63px;
}*/

$color-verde: #8AA236;
$color-azul: #29526D;
$color-morado: #5F2871;

.seccion-verde {
   background-color: $color-verde;
   //height: 1400px;
   overflow: hidden;
}

.seccion-azul {
   background-color: $color-azul;
   //height: 1400px;
   overflow: hidden;
}

.seccion-morada {
   background-color: $color-morado;
   overflow: hidden;
}
.relleno {
   height: 1400px;
}


section>.container {
   margin-top: 100px;
   margin-bottom: 100px;
}

.seccion-info {
   display: flex;
   //margin: 100px 0;
   align-items: flex-start;
   flex-wrap: wrap;
   a {
      //background-color: black;
      //display: flex;
      width: 50%;
      position: relative;
      transition: all .5s ease;
      .item-icon {
         position: absolute;
         display: none;
         width: 100%;
         height: 100%;
         align-items: center;
         justify-content: center;
      }
      i {
         //position: absolute;
         color: $color-menu;
         font-size: 10em;
         //transition: all .5s ease;
         //display: none;
      }
   }
   &:hover a {
      opacity: .5;
   }
   a:hover {
      opacity: 1;
      .item-icon {
         display: flex;
      }
   }
}
/*
Seccion contacto
*/
.contacto {
   display: flex;
   //flex-direction: column;
   width: 100%;
   @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      //align-items: center;
      .items-flex {
         width: 90%!important;
         margin: 0 auto!important;
         &.mapa {
            min-height: 550px;
            margin-top: 10px!important;
            width: 89.5%!important;
         }
      }
   }
   .items-flex {
      width: 30%;
      margin-right: 5px;
      &.mapa {
         width: 70%;
         position: relative;
         margin-right: 0;
         iframe {
            position: absolute;
         }
      }
      div {
         text-align: left;
         background-color: white;
         margin-bottom: 5px;
         //border-bottom: 2px solid transparent;
         //border-left: 2px solid white;
         overflow: hidden;
         &:first-child {
            text-align: center;
         }
         &:last-child {
            margin-bottom: -4px;
         //   background-color:white;
         //   border-top: 2px solid white;
         }
         p {
            padding: 0 20px;
            font-weight: bold;
            font-size: 20px;
         }
      }
   }
}
/*calidad-educativa*/
.calidad-educativa {
   color: white;
   &>h3 {
      text-align: center;
      font-size: 30px;
   }
   p {
      text-align: justify;
   }
   strong {
      font-size: 20px;
   }
   ol>li{
      padding-left: 5px;
   }
}
.encuesta-piloto {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: stretch;
   .encuesta-piloto-items {
      border: 2px solid white;
      text-align: center;
      margin-top: 20px;
      width: 250px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      a {
         color: white;
         display: block;
         text-decoration: none;
         padding: 1.5em;
      }
      h3 {
         margin: 0;
      }
   }
}