extends layout

block title
   |Forms

block main
   .panel.panel-default
      .panel-heading Form Elements
      .panel-body
         .col-md-6
            form(role="form", lpformnum="2")
               .form-group
                  label Text input
                  input.form-control(type="text", placeholder="Placeholder")
               .form-group
                  label Password
                  input.form-control(type="password", placeholder="Contraseña")
               .checkbox
                  label
                     input(type="checkbox")
                     |Remember me
               .form-group
                  label File input
                  input(type="file")
                  p.help-block Ejemplo a nivel de bloque de texto de ayuda aquí.
               .form-group
                  label Text area
                  textarea.form-control(rows="3")
               label Validation
               .form-group.has-success
                  input.form-control(type="text", placeholder="Success")
               .form-group.has-warning
                  input.form-control(type="text", placeholder="Warning")
               .form-group.has-error
                  input.form-control(type="text", placeholder="Error")
         .col-md-6
            .form-group
               label Checkboxes
               .checkbox: label
                  input(type="checkbox", value="")
                  |Checkbox 1
               .checkbox: label
                  input(type="checkbox", value="")
                  |Checkbox 2
               .checkbox: label
                  input(type="checkbox", value="")
                  |Checkbox 3
               .checkbox: label
                  input(type="checkbox", value="")
                  |Checkbox 4
            .form-group
               label Radio Buttons
               .radio: label
                  input(type="radio", name="optionsRadios", id="optionsRadios1", value="option1", checked="")
                  |Radio Button 1
               .radio: label
                  input(type="radio", name="optionsRadios", id="optionsRadios2", value="option2")
                  |Radio Button 2
               .radio: label
                  input(type="radio", name="optionsRadios", id="optionsRadios3", value="option3")
                  |Radio Button 3
               .radio: label
                  input(type="radio", name="optionsRadios", id="optionsRadios4", value="option4")
                  |Radio Button 4
            .form-group
               label Selects
               select.form-control
                  option Option 1
                  option Option 2
                  option Option 3
                  option Option 4
            .form-group
               label Multiple Selects
               select.form-control(multiple="")
                  option Option 1
                  option Option 2
                  option Option 3
                  option Option 4
            button.btn.btn-primary(type="submit") Submit Button
            button.btn.btn-default(type="reset") Reset Button