ul
   li: a(href="/admin.html")
      i.fa.fa-envelope
      |Dashboard
   li: a(href="#")
      i.fa.fa-language
      |Widgets
   li: a(href="#")
      i.fa.fa-object-ungroup
      |Charts
   li: a(href="/reticula.html")
      i.fa.fa-bell
      |Tables
   li: a(href="#")
      i.fa.fa-cloud-upload
      |Forms
   li: a(href="/panels.html")
      i.fa.fa-exclamation-circle
      |Alerts & Panels
   li: a(href="/icons.html")
      i.fa.fa-file-code-o
      |Icons
   li.parent
      a(href="#")
         i.fa.fa-chevron-circle-up
         |Dropdown
      ul
         li: a(href="/prueba/prueba.html")
            i.fa.fa-chevron-circle-right
            |Sub Item 1
         li: a(href="/prueba/prueba2.html")
            i.fa.fa-chevron-circle-right
            |Sub Item 2
         li: a(href="#")
            i.fa.fa-chevron-circle-right
            |Sub Item 3