extends layout

block title
   |Retículas

block main
   .panel.panel-default
      .panel-heading Tabla Basica
      .panel-body
         table
            thead: tr
               th Item ID
               th Item Name
               th Item Price
            tbody
               tr
                  td 0
                  td Item 0
                  td $1
               tr
                  td 1
                  td Item 1
                  td $2
               tr
                  td 2
                  td Item 2
                  td $3
               tr
                  td 3
                  td Item 3
                  td $4
               tr
                  td 4
                  td Item 4
                  td $5
               tr
                  td 5
                  td Item 5
                  td $6
               tr
                  td 6
                  td Item 6
                  td $7
   .panel.panel-default
      .panel-heading Styled Table
      .panel-body
         table.style
            thead: tr
               th Item ID
               th Item Name
               th Item Price
            tbody
               tr
                  td 0
                  td Item 0
                  td $1
               tr
                  td 1
                  td Item 1
                  td $2
               tr
                  td 2
                  td Item 2
                  td $3
               tr
                  td 3
                  td Item 3
                  td $4
               tr
                  td 4
                  td Item 4
                  td $5
               tr
                  td 5
                  td Item 5
                  td $6
               tr
                  td 6
                  td Item 6
                  td $7